# OS Files
.DS_Store
.Trashes
[Tt]humbs.db
.Trashes

# VS Code
.history
Close

# NPM
node_modules

# Environment
.env

# App Specific
app-desktop/build
app-mobile/build
server/server.bundle.js
server/public/build
